@import url('https://fonts.googleapis.com/css?family=Tinos:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
body {
    background: url(../img/bg-body.jpg) left top repeat;
	font-family: 'Source Sans Pro', sans-serif;
	padding:0px;
	margin:0px;
}
a {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
.inner-bg {
    padding: 0px 15px;
}
.section-bg .aboutme form .form-group {
    width: 100%;
    margin-bottom: 10px;
    padding: 0px;
}
.section-bg .aboutme form .form-group label{
		  width: 100%;
    padding: 10px 0px;
}
.section-bg .aboutme form .form-group input, .section-bg .aboutme form .form-group textarea {
    max-width: 100%;
    padding: 10px 20px;
    display: block;
    width: calc(100% - 40px);
}	
.section-bg img {
    max-width: 100%;
}
.section-left {
    max-width: calc(58.33333333% - 15px);
    width: 100%;
    float: left;
    margin-right: 15px;
}
.section-right {
    max-width: calc(41.66666667% - 15px);
    width: 100%;
    float: left;
    margin-left: 15px;
}
.wrapper {
    max-width: 1170px;
	width:100%;
	margin: 0px auto;
    padding: 0px;
}
.footer nav h6 {
    margin: 0px auto;
    font-size: 15px;
    padding: 0px;
    display: table;
    height: 40px;
    line-height: 50px;
	font-family: 'Source Sans Pro', sans-serif;
	    font-weight: 600;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    top: auto;
	left:0px;
	right:0px;
}
.header {
    background: #FFF;
    margin: 0px auto 20px;
    padding: 0px;
    width: 100%;
    display: table;
    border-bottom: 1px solid #DDD;
}
.header .navbar-header a {
    padding-top: 18px;
    line-height: 40px;
    float: left;
    padding-bottom: 18px;

}

@media (min-width:980px) and (max-width:19000px){
	.header .navbar-header .navbar-brand{
		padding-left:40px;
		padding-right:40px;
	}
}



@media (min-width:10px) and (max-width:978px){
.inner-bg {
    padding: 0px 0px;
}
.navbaropen ul.nav li a {
    padding: 0px;
    border-left: 1px solid #DDD;
}
.section-left {
    max-width: calc(100% - 30px);
    width: 100%;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}
.section-right {
    max-width: calc(100% - 30px);
    width: 100%;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}
	.section-bg{
		margin-bottom:30px !important;
	}
	body {
    padding-bottom: 60px !important;
    display: table;
    width: 100%;
}
	.header .navbar-header .navbar-brand {
    width: 100%;
    text-align: center;
	}
.navbaropen ul.nav li {
    width: calc(33% - 10px);
    text-align: center;
    float: left;
}
.navbaropen ul.nav {
    display: block !important;
    width: 100%;
    float: left;
    margin: 0px;
    padding: 10px 0px;
}
.navbaropen {
    float: right;
    width: 100%;
}
.navbar-header {
    width: 100%;
}
}
.navbaropen ul.nav li a:hover {
    background: transparent;
}
.navbaropen ul.nav li a {
    font-size: 18px !important;
    color: #9c9c9c;
    font-weight: 600;
	    display: inherit;
}
.navbaropen {
    float: right;
}
.navbaropen ul.nav {
    display: inline-block;
}
.navbaropen ul.nav li {
    display: inline-block;
    padding: 10px 0px;
}
.navbaropen ul.nav li a {
    padding: 0px 30px;
    border-left: 1px solid #DDD;
}
.header nav.navbar {
    background-color: #FFF;
}
.section-bg{
	background:#FFF;
	padding: 20px;
	border: 1px solid #dadada;
	    margin-bottom: 100px;
}
.footer h6 {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}
.footer {
    background: #666666;
    border-top: 7px solid #4aaaa6;
    text-align: center;
    color: #FFF;
	    line-height: 50px;
}

.page-header {
    border-bottom: 5px solid #eee;
    margin-top: 0px;
    margin-bottom: 20px;
}
.page-header h1 {
    font-family: 'Tinos', serif;
    color: #4eaba3;
    font-weight: 700;
    margin: 0px 0px 10px;
    padding: 0px;
}
.section-bg p {
    font-size: 20px;
    letter-spacing: -0.03em;
}
.aboutme{
	padding:20px 0px;
}
.socialicon a {
    padding: 0px !important;
    border: none !important;
	margin:0px 10px;
}
.header .navbaropen ul.nav li:first-child a {
    border-left: none;
}

.header .navbar-header .navbar-brand {
    background: #4eaba3;
    color: #FFF;
    font-size: 26px;
	font-family: 'Tinos', serif;
	font-weight:700;
}
.btn-submit {
    background: #4aaaa6;
    color: #FFF;
    border-radius: 0px;
    border: none;
    font-size: 20px;
    padding: 5px 30px;
}
.aboutme .form-control {
    border: 1px solid #DDD;
    box-shadow: none;
    border-radius: 0px;
    padding: 5px 20px;
    font-size: 18px;
    height: auto;
}
.portfolio-list{
	display:inline-block;
	width:100%;
	margin:0px;
	padding:0px;
}
.portfolio-list li {
    list-style: none;
    position: relative;
    margin: 0px 0px 40px;
    float: left;
    width: 100%;
}
.portfolio-list span {
    position: absolute;
    top: auto;
    bottom: 20px;
    background: #4eaba3;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    padding: 15px;
    font-weight: 700;
	font-family: 'Tinos', serif;
	    left: 0px;
    right: 0px;
}
.portfolio-list li img {
    width: 100%;
}

